html {
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp6005612.jpg");
  font-family: monospace;
  color: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
}

#home_btn {
  background-image: url("https://wallpapercave.com/wp/wp6005612.jpg");
  width: 120px;
  height: 30px;
  
}
